# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ifgpzshlozdbgxmlmvck.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FsSGvMsRSouSq7B8ApQmXw_dGDXRax-

# Cloudinary (unsigned upload preset, safe for client-side use)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=mrrve7hl
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default_unsigned
